@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Courgette&display=swap");
.f-handwritten {
  font-family: "Courgette", cursive;
}


.t-outline {
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.t-quote {
  font-family: "Abril Fatface", cursive;
}
